.wrapper {
  display: flex;
  position: relative;

  .message {
    display: none;
    position: absolute;
    width: 40vw;
    max-height: 150px;
    overflow-y: scroll;
    background: #333;
    border: 1px solid black;
    border-radius: 16px;
    padding: 20px;
  }

  .active {
    display: flex;
  }
}